@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap");

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(334, 7%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    orange,
    yellow,
    yellow,
    orange
  );
  background-blend-mode: multiply;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* pre */
#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  /* font-family: "orbitron", sans-serif; */
  background-color: hsl(222, 45%, 7%);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  width: min-content;

  transform-style: preserve-3d;
  /* transform: perspective(5000px) rotateY(20deg) rotateX(20deg); */
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

.selector {
  color: var(--black);
  font-size: 10vh;
}
.property {
  color: var(--black);
  font-size: 10vh;
}
.punctuation {
  color: var(--white);
}
/* .property + .punctuation {
  color: var(--teal);
} */
#parent > * {
  text-shadow: 0 0 0.3em currentColor;
}
.background {
  display: flex;
  align-items: center;
  background-color: var(--white);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    white,
    white,
    white,
    white
  );

  background-blend-mode: multiply;
  /* transform: translateZ(50px); */
  filter: blur(0px) opacity(0.8);
  border-radius: 10px;
  /* padding: 10px 10px; */
  height: 75vh;
  transform-style: preserve-3d;
  /* filter: blur(0px) opacity(1); */
  /* transform: perspective(8000px) rotateY(0deg) rotateX(0deg); */
}

i{
  font-size: 50vh;
  color: orange;
}

#parent::before,
#parent::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
#parent::before {
  inset: 0.75rem;
  background-color: var(--black);
  transform: translateZ(-49px);
  filter: blur(15px) opacity(0.75);
}
#parent::after {
  content: "";
  border-radius: inherit;
  /* z-index: -1; */
  inset: -1rem;
  background: linear-gradient(-45deg, black, black);
  transform: translateZ(-50px);
}
img {
  width: 40px;
  height: 40px;
  /* border-radius: 15px; */
}
